*.DS_Store

# WebStorm and JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# node and npm
node_modules/

# Ruby
Gemfile.lock

# Jekyll
_site/
.jekyll-cache/
.sass-cache/

# bundling, testing, and coverage output
out/
