*.DS_Store

# WebStorm and JetBrains IDEs
.idea/

# Visual Studio Code
.vscode/

# Jekyll
_site/
.jekyll-cache/
.sass-cache/

# Node.js
node_modules/

# TypeScript
_compiled/

# typedoc
_doc/

# tsup
_dist/

# Vitest coverage
_coverage/
