# This workflow will run tests using node and then publish a package to NPM when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: npm Package Publish

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
      - run: npm ci
      - run: npm run lint:js
      - run: npm run lint:ts
      - run: npm run build
      - run: npm test

  publish-npm:
    permissions:
      contents: read
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24.x'
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: npm publish --access public --tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
